* {
	font-family: font-family: 'Amatic SC', cursive;
	margin: 20px 10px 20px 10px;
	background-color: #e8eae9;
}

body {
	color: black;
	border: 1px solid black;
	background-color: white;
}

h2, p, b, main {
	background-color: white;
}

a {
	color: aqua;
	background-color: white;
}